<%- include('layout/header') %>
<div id="authentication">
  <div class="left">
      <img src="/images/logo/sheepito-simple.svg" width="400" height="375" />
  </div>
  <div class="right">
      <p><span class="bigger">Hello</span>, my name is Sheepito!</p>
      <p>To start a good adventure with me, connect me to your development process tool!</p>

      <ul>
          <li>
              <a href="/auth/github">
                  <img class="logo" src="/images/Octocat.png" border="0" />
              </a>
          </li>
      </ul>

      <span class="bottom">sheepit</span>
  </div>
</div>
<%- include('layout/footer') %>